.cabecalho{
    background-color: #ef0b0b;
    color: #060c18;
    text-align:center;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

.conteudo-principal{
    background-color: #006eff;
    color: #010201;
    max-width:800px;
    margin:0 auto;
    padding: 16px;
}

.imagem-principal{
    width: 90px;
    height: 90px;
}

.cabecalho-paragrafo{
    font-weight: bold;
}

.cabecalho-autor{
    font-width: bold;
    text-decoration: italic;
}

.conteudo-pricipal-texto{
    font-weight: bold;
}